openapi: '3.1.0'
info:
  title: Mindwm API
  description: This document describes the documentation, a collection of JSON schemas and example cloudevent and payloads
  version: '0.1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - url: https://mindwmw.io/v1
    description: Production API endpoint for the Mindwm API
components:
  schemas:
    IoDocument:
      allOf:
        - $ref: ./cloudevents.json
      properties:
        type:
          type: string
          const: IoDocument
          default: IoDocument
        subject:
          type: string
          const: IoDocument
          default: IoDocument
        source:
          type: string
          pattern: '^mindwm\..*\.iodocument$'
        data:
          $ref: '#/components/schemas/TmuxPaneIoDocument'
      additionalProperties: false
      required:
        - type
        - subject
        - source
        - data
      examples:
        - source: mindwm.alice.laptop.tmux.L3RtcC90bXV4LTEwMDAvZGVmYXVsdA==.1c41f0ca-4056-11ef-a365-5b2236197e08.0.15.iodocument
          subject: IoDocument
          type: IoDocument
          id: '2f3ad8a4-4056-11ef-86f8-9f634df7447b'
          specversion: '1.0.0'
          data:
            $ref: '#/components/schemas/TmuxPaneIoDocument/examples/0'
    Clipboard:
      allOf:
        - $ref: ./cloudevents.json
      properties:
        type:
          type: string
          const: Clipboard
          defaullt: Clipboard
        subject:
          type: string
          const: Clipboard
          defaullt: Clipboard
        source:
          type: string
          pattern: mindwm.[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-).clipboard$
        data:
          $ref: '#/components/schemas/ClipboardPayload'
      additionalProperties: false
      examples:
        - source: mindwm.alice.laptop.clipboard
          subject: Clipboard
          type: Clipboard
          id: d0c13e76-3f79-11ef-8f1d-4be6bb85b216
          specversion: '1.0.0'
          data:
            $ref: '#/components/schemas/ClipboardPayload/examples/0'
    ClipboardPayload:
      type: object
      properties:
        start:
          type: array
          description: Starting position of clipboard selection [x,y]
          items:
            type: integer
          minItems: 2
          maxItems: 2
        stop:
          type: array
          description: Ending position of clipboard selection [x,y]
          items:
            type: integer
          minItems: 2
          maxItems: 2
        data:
          type: string
          description: Clipboard data
          minLength: 1
        type:
          type: string
          description: Clipboard type
          enum:
            - primary
            - secondary
            - clipboard
        context:
          type: object
          description: Selection context
          properties:
            window:
              type: string
              description: window id
      examples:
        - data: clipboard selection data
          type: primary
          start:
            - 86
            - 120
          stop:
            - 321
            - 420
          context:
            window: '0x8061cdef'
    TmuxPaneIoDocument:
      type: object
      properties:
        input:
          type: string
          description: User input
          minLength: 1
        output:
          type: string
          minLength: 0
          description: Command output (mix of stdout & stderr)
        ps1:
          type: string
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
      additionalProperties: false
      required:
        - input
        - output
        - ps1
      examples:
        - input: uptime
          output: '16:37:51 up 19 days,  2:15, 71 users,  load average: 2.01, 2.85, 2.95'
          ps1: user@mindwm-dev1:~/rnd/asyncapi$
    GraphNode:
      allOf:
        - $ref: ./cloudevents.json
      properties:
        type:
          type: string
          enum:
            - created
            - updated
            - deleted
        source:
          type: string
          enum:
            - graph.node
            - graph.relationship
        data:
          allOf:
            - $ref: '#/components/schemas/Neo4jCaptureDataChange'
            - properties:
                payload:
                  $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
      additionalProperties: false
      examples:
        - source: graph.node
          subject: IoDocument
          type: created
          id: '5ea0d0c6-4155-11ef-90d8-6f5a5689b5ac'
          specversion: '1.0.0'
          data:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload/examples/0'
    GraphRelationship:
      allOf:
        - $ref: ./cloudevents.json
      properties:
        type:
          type: string
          enum:
            - created
            - updated
            - deleted
        source:
          type: string
          enum:
            - graph.relationship
        data:
          allOf:
            - $ref: '#/components/schemas/Neo4jCaptureDataChange'
            - properties:
                payload:
                  $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
      additionalProperties: false
      examples:
        - source: graph.relationship
          subject: HAS_IO_DOCUMENT
          type: created
          id: '9f1462e4-9fd4-44f4-9169-d554fba50e85'
          specversion: '1.0.0'
          data:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload/examples/0'
    Neo4jCaptureDataChange:
      type: object
      properties:
        headers:
          type: object
          additionalProperties: true
        message_key:
          type: string
        meta:
          type: object
          properties:
            operation:
              type: string
            source:
              type: object
              properties:
                hostname:
                  type: string
              required:
                - hostname
            timestamp:
              type: integer
            txEventId:
              type: integer
            txEventsCount:
              type: integer
            txId:
              type: integer
            username:
              type: string
          required:
            - operation
            - source
            - timestamp
            - txEventId
            - txEventsCount
            - txId
            - username
        offset:
          type: integer
        partition:
          type: integer
        source_type:
          type: string
        timestamp:
          type: string
          format: date-time
        topic:
          type: string
        schema:
          type: object
          properties:
            constraints:
              type: object
              additionalProperties: true
            properties:
              type: object
              additionalProperties: true
        payload:
          type: object
          oneOf:
            - $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
            - $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
      required:
        - headers
        - message_key
        - meta
        - offset
        - partition
        - payload
        - schema
        - source_type
        - timestamp
        - topic
    Neo4jCaptureDataChangeNodePayload:
      type: object
      properties:
        after:
          type: object
          properties:
            labels:
              type: array
              items:
                type: string
            properties:
              type: object
              additionalProperties: true
          required:
            - labels
            - properties
        before:
          type: string
        id:
          type: string
        type:
          type: string
      required:
        - after
        - before
        - id
        - type
      examples:
        - headers: {}
          message_key: '"45-0"'
          meta:
            operation: created
            source:
              hostname: team-a-neo4j-0
            timestamp: 1718125560033
            txEventId: 0
            txEventsCount: 1
            txId: 45
            username: neo4j
          offset: 9
          partition: 0
          payload:
            after:
              labels:
                - IoDocument
              properties:
                output: |
                  17:05:52 up 1 day, 23:03,  2 users,  load average: 1.23, 1.71, 2.16
                ps1: bebebeko@mcmp6:~/poc-mindwm-dev$
                time: 1718125560.028501
                user_input: uptime
                uuid: dcb8deaf-8f00-4b77-a8f2-77ec7d20a429
            before: ''
            id: '9'
            type: node
          schema:
            constraints: {}
            properties:
              output: String
              ps1: String
              time: Double
              user_input: String
              uuid: String
          source_type: kafka
          timestamp: '2024-06-11T17:06:00.428Z'
          topic: team-a-cdc-topic
    Neo4jCaptureDataChangeRelationshipPayload:
      type: object
      properties:
        after:
          type: object
        before:
          type: string
        end:
          type: object
          properties:
            id:
              type: string
            ids:
              type: object
              additionalProperties: true
            labels:
              type: array
              items:
                type: string
          required:
            - id
            - ids
            - labels
        id:
          type: string
        label:
          type: string
        start:
          type: object
          properties:
            id:
              type: string
            ids:
              type: object
              additionalProperties: true
            labels:
              type: array
              items:
                type: string
          required:
            - id
            - ids
            - labels
        type:
          type: string
          const: relationship
      required:
        - after
        - before
        - end
        - id
        - label
        - start
        - type
      examples:
        - headers: {}
          message_key: '"46-0"'
          meta:
            operation: created
            source:
              hostname: team-a-neo4j-0
            timestamp: 1718125560435
            txEventId: 0
            txEventsCount: 1
            txId: 46
            username: neo4j
          offset: 10
          partition: 0
          payload:
            after:
              properties: {}
            before: ''
            end:
              id: '9'
              ids: {}
              labels:
                - IoDocument
            id: '8'
            label: HAS_IO_DOCUMENT
            start:
              id: '4'
              ids: {}
              labels:
                - TmuxPane
            type: relationship
          schema:
            constraints: {}
            properties: {}
          source_type: kafka
          timestamp: '2024-06-11T17:06:00.438Z'
          topic: team-a-cdc-topic
