openapi: '3.1.0'
info:
  title: Mindwm API
  description: This document describes the documentation, a collection of JSON schemas and example cloudevent and payloads
  version: '0.1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://mindwmw.io/v1
  description: Production API endpoint for the Mindwm API
components:
  schemas:
    IoDocumentEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: IoDocument
            default: IoDocument
          subject:
            type: string
            const: IoDocument
            default: IoDocument
          source:
            type: string
          data:
            $ref: '#/components/schemas/IoDocument'
      additionalProperties: false
    TouchEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: touch
            default: touch
          subject:
            type: string
            const: node
            default: node
          source:
            type: string
          data:
            $ref: '#/components/schemas/Touch'
      additionalProperties: false
    ClipboardEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: Clipboard
            default: Clipboard
          subject:
            type: string
            const: Clipboard
            default: Clipboard
          source:
            type: string
          data:
            $ref: '#/components/schemas/Clipboard'
      additionalProperties: false
    Clipboard:
      properties:
        context:
          $ref: '#/components/schemas/ClipboardContext'
        clipboardType:
          description: Type of clipboard
          enum:
          - Primary
          - Secondary
          - Clipboard
          type: string
        content:
          type: string
          description: Clipboard content
        selectionStart:
          $ref: '#/components/schemas/Vector2int'
        selectionEnd:
          $ref: '#/components/schemas/Vector2int'
      required:
      - context
      - clipboardType
      - content
      additionalProperties: false
    ClipboardContext:
      properties:
        windowId:
          description: Xorg window_id
          maximum: 4294967295
          minimum: 0
          type: number
      required:
      - windowId
      type: object
    IoDocument:
      type: object
      properties:
        input:
          type: string
          description: User input
          minLength: 1
          examples:
          - uptime
        output:
          type: string
          minLength: 0
          description: Command output (mix of stdout & stderr)
          examples:
          - '16:37:51 up 19 days,  2:15, 71 users,  load average: 2.01, 2.85, 2.95'
        ps1:
          type: string
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
          examples:
          - user@mindwm-dev1:~/rnd/asyncapi$
      additionalProperties: false
      required:
      - input
      - output
      - ps1
      examples:
      - input: uptime
        output: '16:37:51 up 19 days,  2:15, 71 users,  load average: 2.01, 2.85, 2.95'
        ps1: user@mindwm-dev1:~/rnd/asyncapi$
    Vector2int:
      properties:
        x:
          description: the X coordinate
          maximum: 4294967295
          minimum: 0
          type: number
        'y':
          description: the Y coordinate
          maximum: 4294967295
          minimum: 0
          type: number
      required:
      - x
      - 'y'
      type: object
    Touch:
      type: object
      properties:
        ids:
          type: array
          items:
            type: number
      required:
      - ids
