openapi: '3.1.0'
info:
  title: Mindwm API
  description: This document describes the documentation, a collection of JSON schemas and example cloudevent and payloads
  version: '0.1.0'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
- url: https://mindwmw.io/v1
  description: Production API endpoint for the Mindwm API
components:
  schemas:
    IoDocumentEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: IoDocument
            default: IoDocument
          subject:
            type: string
            const: IoDocument
            default: IoDocument
          source:
            type: string
          data:
            $ref: '#/components/schemas/IoDocument'
      additionalProperties: false
    TouchEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: touch
            default: touch
          subject:
            type: string
            const: node
            default: node
          source:
            type: string
          data:
            $ref: '#/components/schemas/Touch'
      additionalProperties: false
    ClipboardEvent:
      allOf:
      - $ref: './CloudEvent.yaml'
      - properties:
          type:
            type: string
            const: Clipboard
            default: Clipboard
          subject:
            type: string
            const: Clipboard
            default: Clipboard
          source:
            type: string
          data:
            $ref: '#/components/schemas/Clipboard'
      additionalProperties: false
    Clipboard:
      properties:
        context:
          $ref: '#/components/schemas/ClipboardContext'
        clipboardType:
          description: Type of clipboard
          enum:
          - Primary
          - Secondary
          - Clipboard
          type: string
        content:
          type: string
          description: Clipboard content
        selectionStart:
          $ref: '#/components/schemas/Vector2int'
        selectionEnd:
          $ref: '#/components/schemas/Vector2int'
      required:
      - context
      - clipboardType
      - content
      additionalProperties: false
    ClipboardContext:
      properties:
        windowId:
          description: Xorg window_id
          maximum: 4294967295
          minimum: 0
          type: number
      required:
      - windowId
      type: object
    IoDocument:
      type: object
      properties:
        input:
          type: string
          description: User input
          minLength: 1
          examples:
          - uptime
        output:
          type: string
          minLength: 0
          description: Command output (mix of stdout & stderr)
          examples:
          - '16:37:51 up 19 days,  2:15, 71 users,  load average: 2.01, 2.85, 2.95'
        ps1:
          type: string
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
          examples:
          - user@mindwm-dev1:~/rnd/asyncapi$
      additionalProperties: false
      required:
      - input
      - output
      - ps1
      examples:
      - input: uptime
        output: '16:37:51 up 19 days,  2:15, 71 users,  load average: 2.01, 2.85, 2.95'
        ps1: user@mindwm-dev1:~/rnd/asyncapi$
    Vector2int:
      properties:
        x:
          description: the X coordinate
          maximum: 4294967295
          minimum: 0
          type: number
        'y':
          description: the Y coordinate
          maximum: 4294967295
          minimum: 0
          type: number
      required:
      - x
      - 'y'
      type: object
    Touch:
      type: object
      properties:
        ids:
          type: array
          items:
            type: number
      required:
      - ids
    Neo4jChangeDataCapture:
      type: object
      properties:
        headers:
          type: object
          additionalProperties: true
        message_key:
          type: string
        meta:
          type: object
          properties:
            operation:
              type: string
            source:
              type: object
              properties:
                hostname:
                  type: string
              required:
              - hostname
            timestamp:
              type: integer
            txEventId:
              type: integer
            txEventsCount:
              type: integer
            txId:
              type: integer
            username:
              type: string
          required:
          - operation
          - source
          - timestamp
          - txEventId
          - txEventsCount
          - txId
          - username
        offset:
          type: integer
        partition:
          type: integer
        source_type:
          type: string
        timestamp:
          type: string
          format: date-time
        topic:
          type: string
        schema:
          type: object
          properties:
            constraints:
              type: object
              additionalProperties: true
            properties:
              type: object
              additionalProperties: true
        payload:
          type: object
          oneOf:
          - $ref: '#/components/schemas/Neo4jChangeDataCaptureNodePayload'
          - $ref: '#/components/schemas/Neo4jChangeDataCaptureRelationshipPayload'
      required:
      - headers
      - message_key
      - meta
      - offset
      - partition
      - payload
      - schema
      - source_type
      - timestamp
      - topic
    Neo4jChangeDataCaptureNodePayload:
      type: object
      properties:
        after:
          type: object
          properties:
            labels:
              type: array
              items:
                type: string
            properties:
              type: object
              additionalProperties: true
          required:
          - labels
          - properties
        before:
          type: string
        id:
          type: string
        type:
          type: string
      required:
      - after
      - before
      - id
      - type
      examples:
      - headers: {}
        message_key: '"45-0"'
        meta:
          operation: created
          source:
            hostname: team-a-neo4j-0
          timestamp: 1718125560033
          txEventId: 0
          txEventsCount: 1
          txId: 45
          username: neo4j
        offset: 9
        partition: 0
        payload:
          after:
            labels:
            - IoDocument
            properties:
              output: |
                17:05:52 up 1 day, 23:03,  2 users,  load average: 1.23, 1.71, 2.16
              ps1: bebebeko@mcmp6:~/poc-mindwm-dev$
              time: 1718125560.028501
              user_input: uptime
              uuid: dcb8deaf-8f00-4b77-a8f2-77ec7d20a429
          before: ''
          id: '9'
          type: node
        schema:
          constraints: {}
          properties:
            output: String
            ps1: String
            time: Double
            user_input: String
            uuid: String
        source_type: kafka
        timestamp: '2024-06-11T17:06:00.428Z'
        topic: team-a-cdc-topic
    Neo4jChangeDataCaptureRelationshipPayload:
      type: object
      properties:
        after:
          type: object
        before:
          type: string
        end:
          type: object
          properties:
            id:
              type: string
            ids:
              type: object
              additionalProperties: true
            labels:
              type: array
              items:
                type: string
          required:
          - id
          - ids
          - labels
        id:
          type: string
        label:
          type: string
        start:
          type: object
          properties:
            id:
              type: string
            ids:
              type: object
              additionalProperties: true
            labels:
              type: array
              items:
                type: string
          required:
          - id
          - ids
          - labels
        type:
          type: string
          const: relationship
      required:
      - after
      - before
      - end
      - id
      - label
      - start
      - type
      examples:
      - headers: {}
        message_key: '"46-0"'
        meta:
          operation: created
          source:
            hostname: team-a-neo4j-0
          timestamp: 1718125560435
          txEventId: 0
          txEventsCount: 1
          txId: 46
          username: neo4j
        offset: 10
        partition: 0
        payload:
          after:
            properties: {}
          before: ''
          end:
            id: '9'
            ids: {}
            labels:
            - IoDocument
          id: '8'
          label: HAS_IO_DOCUMENT
          start:
            id: '4'
            ids: {}
            labels:
            - TmuxPane
          type: relationship
        schema:
          constraints: {}
          properties: {}
        source_type: kafka
        timestamp: '2024-06-11T17:06:00.438Z'
        topic: team-a-cdc-topic
