openapi: 3.1.0
info:
  description: "This document describes the documentation, a collection of JSON schemas\
    \ and example cloudevent and payloads"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Mindwm API
  version: 0.1.0
servers:
- description: Production API endpoint for the Mindwm API
  url: https://mindwmw.io/v1
components:
  schemas:
    CloudEvent:
      description: CloudEvents Specification JSON Schema
      properties:
        id:
          description: Identifies the event.
          minLength: 1
          type: string
        source:
          description: Identifies the context in which an event happened.
          format: uri-reference
          minLength: 1
          type: string
        specversion:
          description: The version of the CloudEvents specification which the event
            uses.
          minLength: 1
          type: string
        type:
          description: Describes the type of event related to the originating occurrence.
          minLength: 1
          type: string
        datacontenttype:
          description: Content type of the data value. Must adhere to RFC 2046 format.
          minLength: 1
          type: string
        dataschema:
          description: Identifies the schema that data adheres to.
          format: uri
          minLength: 1
          type: string
        subject:
          description: Describes the subject of the event in the context of the event
            producer (identified by source).
          minLength: 1
          type: string
        time:
          description: Timestamp of when the occurrence happened. Must adhere to RFC
            3339.
          format: date-time
          minLength: 1
          type: string
        data:
          description: The event payload.
          type: object
        data_base64:
          description: Base64 encoded event payload. Must adhere to RFC4648.
          type: string
      required:
      - id
      - source
      - specversion
      - type
      definitions:
        iddef:
          type: string
          minLength: 1
        sourcedef:
          type: string
          format: uri-reference
          minLength: 1
        specversiondef:
          type: string
          minLength: 1
        typedef:
          type: string
          minLength: 1
        datacontenttypedef:
          type: string
          minLength: 1
        dataschemadef:
          type: string
          format: uri
          minLength: 1
        subjectdef:
          type: string
          minLength: 1
        timedef:
          type: string
          format: date-time
          minLength: 1
        datadef:
          type: object
        data_base64def:
          type: string
          contentEncoding: base64
    IoDocumentEvent:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            default: IoDocument
          subject:
            default: IoDocument
          source: {}
          data:
            $ref: '#/components/schemas/IoDocument'
    ClipboardEvent:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            default: Clipboard
          subject:
            default: Clipboard
          source: {}
    IoDocument:
      additionalProperties: {}
      properties:
        input:
          description: User input
          minLength: 1
        output:
          description: Command output (mix of stdout & stderr)
          minLength: 0
        ps1:
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
      required:
      - input
      - output
      - ps1
