openapi: 3.1.0
info:
  description: "This document describes the documentation, a collection of JSON schemas\
    \ and example cloudevent and payloads"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Mindwm API
  version: 0.1.0
servers:
- description: Production API endpoint for the Mindwm API
  url: https://mindwmw.io/v1
components:
  schemas:
    CloudEvent:
      description: CloudEvents Specification JSON Schema
      properties:
        id:
          description: Identifies the event.
          minLength: 1
          type: string
        source:
          description: Identifies the context in which an event happened.
          format: uri-reference
          minLength: 1
          type: string
        specversion:
          description: The version of the CloudEvents specification which the event
            uses.
          minLength: 1
          type: string
        type:
          description: Describes the type of event related to the originating occurrence.
          minLength: 1
          type: string
        datacontenttype:
          description: Content type of the data value. Must adhere to RFC 2046 format.
          minLength: 1
          nullable: true
          type: string
        dataschema:
          description: Identifies the schema that data adheres to.
          format: uri
          minLength: 1
          nullable: true
          type: string
        subject:
          description: Describes the subject of the event in the context of the event
            producer (identified by source).
          minLength: 1
          nullable: true
          type: string
        time:
          description: Timestamp of when the occurrence happened. Must adhere to RFC
            3339.
          format: date-time
          minLength: 1
          nullable: true
          type: string
        data:
          $ref: '#/components/schemas/CloudEvent_data'
        data_base64:
          description: Base64 encoded event payload. Must adhere to RFC4648.
          nullable: true
          type: string
      required:
      - id
      - source
      - specversion
      - type
      discrimniator: type
    IoDocument:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            default: IoDocument
          subject:
            default: IoDocument
          source: {}
          data:
            $ref: '#/components/schemas/TmuxPaneIoDocument'
      properties:
        type: {}
        source:
          pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-)\\\
            \\.tmux\\\\.[A-Za-z0-9+/]*={0,2}\\.[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\\
            \\.[0-9]+?\\\\.[0-9]+?\\\\.tiodocument$"
        data:
          $ref: '#/components/schemas/TmuxPaneIoDocument'
    Clipboard:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            defaullt: Clipboard
          subject:
            defaullt: Clipboard
          source:
            pattern: "^mindwm\\\\.[a-zA-Z0-9_]{1,32}\\\\.[a-zA-Z0-9-]{1,63}\\.clipboard$"
          data:
            $ref: '#/components/schemas/ClipboardPayload'
      properties:
        type: {}
        source:
          pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-)$"
        data:
          $ref: '#/components/schemas/ClipboardPayload'
    ClipboardPayload:
      properties:
        start:
          description: "Starting position of clipboard selection [x,y]"
          items:
            type: integer
          maxItems: 2
          minItems: 2
          type: array
        stop:
          description: "Ending position of clipboard selection [x,y]"
          items:
            type: integer
          maxItems: 2
          minItems: 2
          type: array
        data:
          description: Clipboard data
          minLength: 1
          type: string
        type:
          description: Clipboard type
          enum:
          - primary
          - secondary
          - clipboard
          type: string
        context:
          $ref: '#/components/schemas/ClipboardPayload_context'
    TmuxPaneIoDocument:
      additionalProperties: {}
      properties:
        input:
          description: User input
          minLength: 1
        output:
          description: Command output (mix of stdout & stderr)
          minLength: 0
        ps1:
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
      required:
      - input
      - output
      - ps1
    GraphNode:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            enum:
            - created
            - updated
            - deleted
          source:
            enum:
            - graph.node
            - graph.relationship
          data:
            $ref: '#/components/schemas/GraphNode_allOf_data'
    GraphRelationship:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            enum:
            - created
            - updated
            - deleted
          source:
            enum:
            - graph.relationship
          data:
            $ref: '#/components/schemas/GraphRelationship_allOf_data'
    Neo4jCaptureDataChange:
      properties:
        headers:
          additionalProperties: {}
        message_key:
          type: string
        meta:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_meta'
        offset:
          type: integer
        partition:
          type: integer
        source_type:
          type: string
        timestamp:
          format: date-time
          type: string
        topic:
          type: string
        schema:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_schema'
        payload:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_payload'
      required:
      - headers
      - message_key
      - meta
      - offset
      - partition
      - payload
      - schema
      - source_type
      - timestamp
      - topic
    Neo4jCaptureDataChangeNodePayload:
      properties:
        after:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload_after'
        before:
          type: string
        id:
          type: string
        type:
          type: string
      required:
      - after
      - before
      - id
      - type
    Neo4jCaptureDataChangeRelationshipPayload:
      properties:
        after:
          type: object
        before:
          type: string
        end:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload_end'
        id:
          type: string
        label:
          type: string
        start:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload_end'
        type:
          type: string
      required:
      - after
      - before
      - end
      - id
      - label
      - start
      - type
    CloudEvent_data:
      anyOf:
      - type: string
      - type: number
      - type: boolean
      description: The event payload.
      nullable: true
    ClipboardPayload_context:
      description: Selection context
      properties:
        window:
          description: window id
          type: string
    GraphNode_allOf_data:
      allOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChange'
      - properties:
          payload:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
    GraphRelationship_allOf_data:
      allOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChange'
      - properties:
          payload:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
    Neo4jCaptureDataChange_meta_source:
      properties:
        hostname:
          type: string
      required:
      - hostname
    Neo4jCaptureDataChange_meta:
      properties:
        operation:
          type: string
        source:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_meta_source'
        timestamp:
          type: integer
        txEventId:
          type: integer
        txEventsCount:
          type: integer
        txId:
          type: integer
        username:
          type: string
      required:
      - operation
      - source
      - timestamp
      - txEventId
      - txEventsCount
      - txId
      - username
    Neo4jCaptureDataChange_schema:
      properties:
        constraints:
          additionalProperties: {}
        properties:
          additionalProperties: {}
    Neo4jCaptureDataChange_payload:
      oneOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
      - $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
    Neo4jCaptureDataChangeNodePayload_after:
      properties:
        labels:
          items:
            type: string
          type: array
        properties:
          additionalProperties: {}
      required:
      - labels
      - properties
    Neo4jCaptureDataChangeRelationshipPayload_end:
      properties:
        id:
          type: string
        ids:
          additionalProperties: {}
        labels:
          items:
            type: string
          type: array
      required:
      - id
      - ids
      - labels

