openapi: 3.1.0
info:
  description: "This document describes the documentation, a collection of JSON schemas\
    \ and example cloudevent and payloads"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
  title: Mindwm API
  version: 0.1.0
servers:
- description: Production API endpoint for the Mindwm API
  url: https://mindwmw.io/v1
components:
  schemas:
    CloudEvent:
      description: CloudEvents Specification JSON Schema
      properties:
        id:
          description: Identifies the event.
          minLength: 1
          title: id
          type: string
        source:
          description: Identifies the context in which an event happened.
          format: uri-reference
          minLength: 1
          title: source
          type: string
        specversion:
          description: The version of the CloudEvents specification which the event
            uses.
          minLength: 1
          title: specversion
          type: string
        type:
          description: Describes the type of event related to the originating occurrence.
          minLength: 1
          title: type
          type: string
        datacontenttype:
          description: Content type of the data value. Must adhere to RFC 2046 format.
          minLength: 1
          nullable: true
          title: datacontenttype
          type: string
        dataschema:
          description: Identifies the schema that data adheres to.
          format: uri
          minLength: 1
          nullable: true
          title: dataschema
          type: string
        subject:
          description: Describes the subject of the event in the context of the event
            producer (identified by source).
          minLength: 1
          nullable: true
          title: subject
          type: string
        time:
          description: Timestamp of when the occurrence happened. Must adhere to RFC
            3339.
          format: date-time
          minLength: 1
          nullable: true
          title: time
          type: string
        data:
          $ref: '#/components/schemas/CloudEvent_data'
        data_base64:
          description: Base64 encoded event payload. Must adhere to RFC4648.
          nullable: true
          title: data_base64
          type: string
      required:
      - id
      - source
      - specversion
      - type
      title: CloudEvent
      discrimniator: type
    IoDocument:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            default: IoDocument
          subject:
            default: IoDocument
          source:
            pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-)\\\
              \\.tmux\\\\.[A-Za-z0-9+/]*={0,2}\\.[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\\
              \\.[0-9]+?\\\\.[0-9]+?\\\\.tiodocument$"
          data:
            $ref: '#/components/schemas/TmuxPaneIoDocument'
      properties:
        type: {}
        source:
          pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-)\\\
            \\.tmux\\\\.[A-Za-z0-9+/]*={0,2}\\.[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\\\
            \\.[0-9]+?\\\\.[0-9]+?\\\\.tiodocument$"
        data:
          $ref: '#/components/schemas/TmuxPaneIoDocument'
    Clipboard:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            defaullt: Clipboard
          subject:
            defaullt: Clipboard
          source:
            pattern: "mindwm.[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-).clipboard$"
          data:
            $ref: '#/components/schemas/ClipboardPayload'
      properties:
        type: {}
        source:
          pattern: "[a-zA-Z0-9_][a-zA-Z0-9_-]{0,31}\\\\.(?!-)[a-zA-Z0-9-]{1,63}(?<!-)$"
        data:
          $ref: '#/components/schemas/ClipboardPayload'
    ClipboardPayload:
      properties:
        start:
          description: "Starting position of clipboard selection [x,y]"
          items:
            type: integer
          maxItems: 2
          minItems: 2
          title: start
          type: array
        stop:
          description: "Ending position of clipboard selection [x,y]"
          items:
            type: integer
          maxItems: 2
          minItems: 2
          title: stop
          type: array
        data:
          description: Clipboard data
          minLength: 1
          title: data
          type: string
        type:
          description: Clipboard type
          enum:
          - primary
          - secondary
          - clipboard
          title: type
          type: string
        context:
          $ref: '#/components/schemas/ClipboardPayload_context'
      title: ClipboardPayload
    TmuxPaneIoDocument:
      additionalProperties: {}
      properties:
        input:
          description: User input
          minLength: 1
        output:
          description: Command output (mix of stdout & stderr)
          minLength: 0
        ps1:
          description: ps1 (prompt) AFTER the input and output
          minLength: 1
      required:
      - input
      - output
      - ps1
      title: TmuxPaneIoDocument
    GraphNode:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            enum:
            - created
            - updated
            - deleted
          source:
            enum:
            - graph.node
          data:
            $ref: '#/components/schemas/GraphNode_allOf_data'
    GraphRelationship:
      additionalProperties: {}
      allOf:
      - $ref: '#/components/schemas/CloudEvent'
      - properties:
          type:
            enum:
            - created
            - updated
            - deleted
          source:
            enum:
            - graph.relationship
          data:
            $ref: '#/components/schemas/GraphRelationship_allOf_data'
    Neo4jCaptureDataChange:
      properties:
        headers:
          additionalProperties: {}
          title: headers
        message_key:
          title: id
          type: string
        meta:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_meta'
        offset:
          title: offset
          type: integer
        partition:
          title: offset
          type: integer
        source_type:
          title: id
          type: string
        timestamp:
          format: date-time
          title: timestamp
          type: string
        topic:
          title: id
          type: string
        schema:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_schema'
        payload:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_payload'
      required:
      - headers
      - message_key
      - meta
      - offset
      - partition
      - payload
      - schema
      - source_type
      - timestamp
      - topic
      title: Neo4jCaptureDataChange
    Neo4jCaptureDataChangeNodePayload:
      properties:
        after:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload_after'
        before:
          title: id
          type: string
        id:
          title: id
          type: string
        type:
          title: id
          type: string
      required:
      - after
      - before
      - id
      - type
      title: Neo4jCaptureDataChangeNodePayload
    Neo4jCaptureDataChangeRelationshipPayload:
      properties:
        after:
          title: after
          type: object
        before:
          title: id
          type: string
        end:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload_end'
        id:
          title: id
          type: string
        label:
          title: id
          type: string
        start:
          $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload_end'
        type:
          title: type
          type: string
      required:
      - after
      - before
      - end
      - id
      - label
      - start
      - type
      title: Neo4jCaptureDataChangeRelationshipPayload
    CloudEvent_data:
      anyOf:
      - type: string
      - type: number
      - type: boolean
      description: The event payload.
      nullable: true
      title: CloudEvent_data
    ClipboardPayload_context:
      description: Selection context
      properties:
        window:
          description: window id
          title: window
          type: string
      title: ClipboardPayload_context
    GraphNode_allOf_data:
      allOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChange'
      - properties:
          payload:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
      title: GraphNode_allOf_data
    GraphRelationship_allOf_data:
      allOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChange'
      - properties:
          payload:
            $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
      title: GraphRelationship_allOf_data
    Neo4jCaptureDataChange_meta_source:
      properties:
        hostname:
          title: hostname
          type: string
      required:
      - hostname
      title: Neo4jCaptureDataChange_meta_source
    Neo4jCaptureDataChange_meta:
      properties:
        operation:
          title: operation
          type: string
        source:
          $ref: '#/components/schemas/Neo4jCaptureDataChange_meta_source'
        timestamp:
          title: timestamp
          type: integer
        txEventId:
          title: txEventId
          type: integer
        txEventsCount:
          title: txEventsCount
          type: integer
        txId:
          title: txId
          type: integer
        username:
          title: username
          type: string
      required:
      - operation
      - source
      - timestamp
      - txEventId
      - txEventsCount
      - txId
      - username
      title: Neo4jCaptureDataChange_meta
    Neo4jCaptureDataChange_schema:
      properties:
        constraints:
          additionalProperties: {}
          title: constraints
        properties:
          additionalProperties: {}
          title: properties
      title: Neo4jCaptureDataChange_schema
    Neo4jCaptureDataChange_payload:
      oneOf:
      - $ref: '#/components/schemas/Neo4jCaptureDataChangeNodePayload'
      - $ref: '#/components/schemas/Neo4jCaptureDataChangeRelationshipPayload'
      title: Neo4jCaptureDataChange_payload
    Neo4jCaptureDataChangeNodePayload_after:
      properties:
        labels:
          items:
            type: string
          title: labels
          type: array
        properties:
          additionalProperties: {}
          title: properties
      required:
      - labels
      - properties
      title: Neo4jCaptureDataChangeNodePayload_after
    Neo4jCaptureDataChangeRelationshipPayload_end:
      properties:
        id:
          title: id
          type: string
        ids:
          additionalProperties: {}
          title: ids
        labels:
          items:
            type: string
          title: labels
          type: array
      required:
      - id
      - ids
      - labels
      title: Neo4jCaptureDataChangeRelationshipPayload_end
